.animal-spotlight {
    max-width: 400px;
    margin: auto;
    display: block;
    border: 1px dashed gray;
    padding: 10px;
    text-align: center;
    justify-content: center;
    background-color: rgba(33, 127, 204, 0.712);
  }
  
  .animal-spotlight img {
    width: 200px;
  }
  
  .animal-spotlight p {
    color: black;
  }
  .animal-spotlight h3{
      color: blue;
  }